header {
  background-color: var(--white-color);
  justify-content: space-around;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    #logo-img{
      width: 50px;
      height: auto;
    }
    img{
      width: 20px;
      height: auto;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
}