<button class="button"
        style="border-radius: @@border-radius;
               padding-left: @@padding-x;
               padding-right: @@padding-x;
               padding-top: @@padding-y;
               padding-bottom: @@padding-y;
               background-color: @@background-color;
               border-width: @@border-width;
               border-style: @@border-style;
               border-color: @@border-color;
               color: @@color-text;
               font-size: @@font-size;
               justify-content: @@justify-content;
               cursor: pointer;
               transition: all 0.3s ease;">
    <span>@@title</span>
</button>