<header>
        <ul>
            <li><img id="logo-img" src="./assets/images/logo.webp" alt=""></li>
            <li><h1>Furniro</h1></li>
        </ul>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <ul>
            <li><img src="./assets/images/chelovek.webp" alt=""></li>
            <li><img src="./assets/images/poisk.webp" alt=""></li>
            <li><img src="./assets/images/love.webp" alt=""></li>
            <li><img src="./assets/images/korzina.webp" alt=""></li>
        </ul>
</header>