// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
//@use 'components/button';
//@use 'components/card';
@use 'components/header';
@use 'components/_button';
@use 'components/_card';



body {

  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.banner {
  position: relative;
}
.banner_text_block {
   background-color: var(--besh-color);
   position: absolute;
   top: 40%;
   left: 60%;
   width: 500px;
   padding: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  .banner_label {
    font-weight: bold;
  }
  .banner_title {
    text-transform: uppercase;
    color: var(--kor-color);
    font-size: 2rem;
  }
  .banner_title_zag {
    margin-top: 0;
  }
  .banner_description {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  .banner_navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

 }
.product-range_header {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  .product-range_title{
    font-size: 1.8rem;
    line-height: 2px;
  }
  .product-range_description {
    font-size: 1.2rem;
  }
}
.product-range_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.call-product {
  display: flex;
  gap: 10px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 1236px;
  margin: 0 auto;

  box-sizing: border-box;
}
.vspom {
  padding: 5%;
}
.our_prod {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;

}
.ggg {
  justify-content: center;
}