// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
//@use 'components/button';
//@use 'components/card';
@use 'components/header';
@use 'components/_foorher';
@use 'components/_button';
@use 'components/_card';



body {

  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.banner {
  position: relative;
}
.banner_text_block {
   background-color: var(--besh-color);
   position: absolute;
   top: 40%;
   left: 60%;
   width: 500px;
   padding: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  .banner_label {
    font-weight: bold;
  }
  .banner_title {
    text-transform: uppercase;
    color: var(--kor-color);
    font-size: 2rem;
  }
  .banner_title_zag {
    margin-top: 0;
  }
  .banner_description {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  .banner_navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

 }
.product-range_header {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  .product-range_title{
    font-size: 1.8rem;
    line-height: 2px;
  }
  .product-range_description {
    font-size: 1.2rem;
  }
}
.product-range_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.call-product {
  display: flex;
  gap: 10px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 1236px;
  margin: 0 auto;

  box-sizing: border-box;
}
.vspom {
  padding: 5%;
}
.our_prod {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;

}
.ggg {
  justify-content: center;
}
.img1 {

}
.bar {
  background-color: #FCF8F3;
  display: flex;
  align-items: center;
  justify-content: center;
  .beat {
    font-size: 2rem;
    font-weight: bold;


  }
  .beat1 {
    margin-right: 10%;


  }
  .gko {
    margin-bottom: 10%;
  }
}
.lolo {
  display: flex;
  gap: 20px;
  padding-top: 3%;
  padding-bottom: 3%;


}
.olp {
  align-items: center;
  gap: 170px;
}
.image-container {
  position: relative; /* Необходимо для позиционирования overlay */
  display: inline-block; /* Или block, в зависимости от макета */
  width: 100%; /* Можно задать фиксированную ширину */
}

.img1 {
  display: block;
  width: 100%;
  height: auto; /* Сохраняет пропорции */
}

.text-overlay {
  width: 40%;
  position: absolute;
  bottom: 20px; /* Отступ от нижнего края */
  left: 20px; /* Отступ от левого края */
  right: 20px; /* Отступ от правого края */
  opacity: 70%;
  background: var(--white-color); /* Полупрозрачный черный фон */
  color: black;
  padding: 15px;


}
.golp {

  position: absolute;
  bottom: 20px; /* Отступ от нижнего края */
  left: 210px; /* Отступ от левого края */
  right: 20px; /* Отступ от правого края */


}

/* Дополнительные стили для текста */
.text-overlay h3 {
  margin: 0 0 10px 0;
  font-size: 1em;
  font-weight: 300;

}

.text-overlay p {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}
.gogg {
text-align: center;
  margin-bottom: 4%;
  margin-top: 4%;
}

